<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>servlets.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern></url-pattern>
    <url-pattern>/admin</url-pattern>
    <url-pattern>/accueil</url-pattern>
    <url-pattern>/histoire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletAjax</servlet-name>
    <servlet-class>servlets.ServletAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAjax</servlet-name>
    <url-pattern>/Ajax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>servlets.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/Login</url-pattern>
    <url-pattern>/403</url-pattern>
    <url-pattern>/Failed</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/403</location>
  </error-page>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Admin</web-resource-name>
      <url-pattern>/admin</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Tableau</web-resource-name>
    <url-pattern>/</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  <security-role>
    <role-name>user</role-name>
  </security-role>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>Admin</realm-name>
    <form-login-config>
      <form-login-page>/Login</form-login-page>
      <form-error-page>/Failed</form-error-page>
    </form-login-config>
  </login-config>
</web-app>